<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/auth}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forgot Password Page</title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<div class="form-container">
				<h2>Forgot Password</h2>
				<form>
					<label for="username">Username</label>
					<input
						type="text"
						id="username"
						name="username"
						placeholder="Enter your username"
						required />

					<label for="new-password">New Password</label>
					<input
						type="password"
						id="new-password"
						name="new-password"
						placeholder="Enter your new password"
						required />

					<div>
						<input
							class="mt-2 mb-2"
							type="checkbox"
							onclick="showNewPassword()" />
						Show Password
					</div>

					<label for="repeat-new-password">Repeat New Password</label>
					<input
						type="password"
						id="repeat-new-password"
						name="repeat-new-password"
						placeholder="Re-enter your new password"
						required />

					<div>
						<input
							class="mt-2 mb-2"
							type="checkbox"
							onclick="showRepeatNewPassword()" />
						Show Password
					</div>

					<button type="button" id="forgot-password">Submit</button>
				</form>
				<p>
					Remember your password? <a th:href="@{/auth/login}">Log in here!</a>
				</p>
			</div>
			<div class="logo-container">
				<img
					class="d-inline-block align-text-top me-2"
					th:src="@{/img/online-course.png}"
					alt="Logo"
					width="70"
					height="70" />
				<h1>DevPro Learning</h1>
			</div>
		</div>

		<!-- JS -->
		<div layout:fragment="script">
			<script src="/js/forgot-password.js"></script>
		</div>
	</body>
</html>
