<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/auth}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login Page</title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<div class="form-container">
				<h2>Welcome Admin!</h2>
				<form
					th:action="@{/auth/admin/login}"
					th:method="POST"
					th:object="${loginRequest}">
					<div class="input-group">
						<label for="username">Username</label>
						<input
							type="text"
							id="username"
							name="username"
							th:field="*{username}"
							placeholder="Enter your username" />
					</div>
					<div class="input-group">
						<label for="current-password">Password</label>
						<input
							type="password"
							id="current-password"
							name="current-password"
							th:field="*{password}"
							placeholder="Enter your password" />
					</div>
					<div>
						<input class="mt-3" type="checkbox" onclick="showPassword()" />
						Show Password
					</div>
					<button type="submit">Log in</button>
				</form>
			</div>
			<div class="logo-container">
				<h1>DevPro Learning</h1>
			</div>
		</div>

		<!-- JS -->
		<div layout:fragment="script">
			<script src="/js/login.js"></script>
		</div>
	</body>
</html>
