<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Card</title>
	</head>
	<body>
		<!-- Card -->
		<div th:fragment="card">
			<div class="grid grid-cols-3 gap-x-10">
				<div
					class="flex items-center bg-[var(--secondary)] rounded-xl px-10 py-7 text-white gap-x-5 font-medium">
					<div class="bg-white p-3 rounded-full">
						<img
							src="https://img.icons8.com/material/24/7950F2/group-background-selected.png"
							alt="/" />
					</div>
					<div class="flex flex-col">
						<h1>450</h1>
						<h1>Pengguna Aktif</h1>
					</div>
				</div>
				<div
					class="flex items-center bg-[#73CA5C] rounded-xl px-10 py-7 text-white gap-x-5 font-medium">
					<div class="bg-white p-3 rounded-full">
						<img
							src="https://img.icons8.com/material/24/7950F2/group-background-selected.png"
							alt="/" />
					</div>
					<div class="flex flex-col">
						<h1>25</h1>
						<h1>Total Kursus</h1>
					</div>
				</div>
				<div
					class="flex items-center bg-[var(--primary)] rounded-xl px-10 py-7 text-white gap-x-5 font-medium">
					<div class="bg-white p-3 rounded-full">
						<img
							src="https://img.icons8.com/material/24/7950F2/group-background-selected.png"
							alt="/" />
					</div>
					<div class="flex flex-col">
						<h1>20</h1>
						<h1>Kursus Premium</h1>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
