body {
	font-family: sans-serif;
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

form {
	width: 300px;
}

.input-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.checkbox-group {
	margin-bottom: 15px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

label[for="rememberMe"] {
	display: inline-block;
}

button[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.forgot-password {
	display: block;
	text-align: center;
	margin-top: 15px;
}

.register {
	text-align: center;
	margin-top: 15px;
}

a {
	color: #007bff;
	text-decoration: none;
}
