body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    width: 70%;
    height: 70vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-container {
    background-color: #fff;
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo-container {
    background-color: #6f44ff;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
}

h2 {
    color: #6f44ff;
}

p {
    margin: 10px 0;
}

.otp-input-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #6f44ff;
    border-radius: 5px;
}

.submit-button {
    padding: 10px;
    background-color: #6f44ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #5a3ae6;
}

.back-button {
    background: none;
    border: none;
    color: #6f44ff;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.success-message {
    color: #fff;
    background-color: #28a745;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
}

#timer {
    color: #6f44ff;
}
