<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sidebar</title>
</head>
<body>
<!-- Sidebar -->
<div th:fragment="sidebar">
    <div class="bg-[#6148FF] w-72 h-full fixed text-white">
        <div class="flex justify-center items-center my-7">
            <img src="" alt="/">
        </div>
        <ul class="font-medium">
            <li th:classappend="${#httpServletRequest.requestURI == '/admin/dashboard'} ? 'bg-[#489CFF]' : ''"
                class="py-2 px-8">
                <a th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li th:classappend="${#httpServletRequest.requestURI == '/kelola-kelas'} ? 'bg-[#489CFF]' : ''"
                class="py-2 px-8">
                <a th:href="@{/kelola-kelas}">Kelola Kelas</a>
            </li>
            <li class="py-2 px-8">
                <a th:href="@{/keluar}">Keluar</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
