<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NavBar</title>
	</head>
	<body>
		<!-- Navigation Bars -->
		<div th:fragment="navbar">
			<header class="header">
				<div
					class="container d-flex justify-content-between align-items-center">
					<div class="logo">
						<a
							class="fw-bold fs-3 text-decoration-none text-light"
							th:href="@{/}">
							<img
								class="d-inline-block align-text-top"
								th:src="@{/img/online-course.png}"
								alt="Logo"
								width="40"
								height="36" />
							DevPro Learning
						</a>
					</div>
					<div class="search-bar">
						<input
							type="search"
							id="search"
							aria-label="Search"
							placeholder="Cari Kursus terbaik..." />
						<button type="button">🔍</button>
					</div>
					<div class="login d-flex justify-content-between gap-4">
						<a
							class="nav-link text-light"
							th:classappend="${isActive} == 'home' ? 'active fw-bold' : ''"
							th:href="@{/home}"
							sec:authorize="hasRole('ROLE_USER')"
							>Dashboard
						</a>
						<a
							class="nav-link text-light"
							th:classappend="${isActive} == 'course' ? 'active fw-bold' : ''"
							th:href="@{/my-courses}"
							sec:authorize="hasRole('ROLE_USER')"
							>My Courses
						</a>
						<a
							class="nav-link text-light"
							th:classappend="${isActive} == 'profile' ? 'active fw-bold' : ''"
							th:href="@{/profile}"
							sec:authorize="hasRole('ROLE_USER')"
							>Account
						</a>
					</div>
				</div>
			</header>
		</div>
	</body>
</html>
