<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tambah Kelas</title>
	</head>
	<body>
		<!-- Modal Tambah Kelas -->
		<div th:fragment="add-modal">
			<div class="fixed z-10 inset-0 overflow-y-auto hidden" id="addCourseModal">
                <div class="flex items-center justify-center min-h-screen">
                    <div class="bg-white rounded-2xl shadow-lg p-10 px-14 max-w-xl w-full">
                        <div class="flex justify-between items-center pb-4">
                            <h3 class="text-lg font-semibold">Tambah Kelas</h3>
                            <button class="text-gray-500 hover:text-gray-700" id="closeAddCourseModal">
                                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                        <form class="space-y-4" id="addCourseForm">
                            <div>
                                <label for="nama" class="block mb-2 text-sm font-medium text-gray-900">Nama Kelas</label>
                                <input type="text" name="nama" id="nama"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="Masukkan Nama Kelas" />
                            </div>
                            <div>
                                <label for="kategori" class="block mb-2 text-sm font-medium text-gray-900">Kategori</label>
                                <input type="text" name="kategori" id="kategori"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="Masukkan Kategori Kelas" />
                            </div>
                            <div>
                                <label for="kode" class="block mb-2 text-sm font-medium text-gray-900">Kode Kelas</label>
                                <input type="text" name="kode" id="kode"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="Masukkan Kode Kelas" />
                            </div>
                            <div>
                                <label for="tipe" class="block mb-2 text-sm font-medium text-gray-900">Tipe Kelas</label>
                                <input type="text" name="tipe" id="tipe"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="Masukkan Tipe Kelas" />
                            </div>
                            <div>
                                <label for="level" class="block mb-2 text-sm font-medium text-gray-900">Level</label>
                                <input type="text" name="level" id="level"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="Masukkan Level" />
                            </div>
                            <div>
                                <label for="harga" class="block mb-2 text-sm font-medium text-gray-900">Harga</label>
                                <input type="number" name="harga" id="harga"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="Masukkan Harga Kelas" />
                            </div>
    
                            <div>
                                <label for="materi" class="block mb-2 text-sm font-medium text-gray-900">Materi
                                    Kelas</label>
                                <textarea name="materi" id="materi" rows="4"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="Masukkan Materi Kelas"></textarea>
                            </div>
                            <div class="flex justify-center items-center gap-x-2 mt-2">
                                <button type="submit"
                                    class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-3xl text-sm px-5 py-2.5 text-center">Upload
                                    Video</button>
                                <button type="submit"
                                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-3xl text-sm px-5 py-2.5 text-center">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>
