<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Card</title>
	</head>
	<body>
		<div class="container mt-5" th:fragment="card">
			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="card text-white bg-secondary">
						<div class="card-body d-flex align-items-center">
							<div class="bg-white p-3 rounded-circle mr-3">
								<img
									src="https://img.icons8.com/material/24/7950F2/group-background-selected.png"
									alt="/" />
							</div>
							<div>
								<h5 id="total-pengguna" class="card-title fs-5 mb-0"></h5>
								<p class="card-text">Active Users</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card text-white" style="background-color: #73ca5c">
						<div class="card-body d-flex align-items-center">
							<div class="bg-white p-3 rounded-circle mr-3">
								<img
									src="https://img.icons8.com/material/24/7950F2/group-background-selected.png"
									alt="/" />
							</div>
							<div>
								<h5 id="total-kursus" class="card-title fs-5 mb-0"></h5>
								<p class="card-text">Active Courses</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card text-white" style="background-color: var(--primary)">
						<div class="card-body d-flex align-items-center">
							<div class="bg-white p-3 rounded-circle mr-3">
								<img
									src="https://img.icons8.com/material/24/7950F2/group-background-selected.png"
									alt="/" />
							</div>
							<div>
								<h5 id="total-kursus-premium" class="card-title fs-5 mb-0"></h5>
								<p class="card-text">Premium Courses</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
