<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Kursus</title>
</head>

<body>
    <!-- Modal Tambah Kursus -->
    <div th:fragment="modal-tambah-kursus">
        <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="addCourseModal">
            <div class="flex items-center justify-center min-h-screen">
                <div class="bg-white rounded-2xl shadow-lg p-10 px-14 max-w-xl w-full">
                    <div class="flex justify-between items-center pb-4">
                        <h3 class="text-lg font-semibold">Tambah Kursus</h3>
                        <button class="text-gray-500 hover:text-gray-700" id="closeAddCourseModal">
                            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <form class="space-y-4" id="addCourseForm">
                        <div>
                            <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Nama</label>
                            <input type="text" name="title" id="title"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                placeholder="Masukkan Nama Kursus" />
                        </div>
                        <div>
                            <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Kategori</label>
                            <input type="text" name="category" id="category"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                placeholder="Masukkan Kategori Kursus" />
                        </div>
                        <div>
                            <label for="mentor" class="block mb-2 text-sm font-medium text-gray-900">Mentor</label>
                            <select name="mentor" id="mentor"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option value="" selected>Pilih Mentor</option>
                                <option value="mentor1">Mentor 1</option>
                                <option value="mentor2">Mentor 2</option>
                            </select>
                        </div>
                        <div>
                            <label for="is_premium" class="block mb-2 text-sm font-medium text-gray-900">Tipe
                                Kursus</label>
                            <select name="is_premium" id="is_premium"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option value="" selected>Pilih Tipe Kursus</option>
                                <option value="regular">Regular</option>
                                <option value="premium">Premium</option>
                            </select>
                        </div>
                        <div>
                            <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Harga Kursus</label>
                            <input type="text" name="price" id="price"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                placeholder="Masukkan Harga Kursus" />
                        </div>
                        <div>
                            <label for="total_duration" class="block mb-2 text-sm font-medium text-gray-900">Durasi
                                Kursus</label>
                            <input type="number" name="total_duration" id="total_duration"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                placeholder="Masukkan Durasi Kursus" />
                        </div>
                        <div>
                            <label for="about" class="block mb-2 text-sm font-medium text-gray-900">Tentang
                                Kursus</label>
                            <textarea name="about" id="about" rows="4"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                placeholder="Tentang Kursus"></textarea>
                        </div>
                        <div class="flex justify-center items-center gap-x-2 mt-2">
                            <button type="submit"
                                class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-3xl text-sm px-5 py-2.5 text-center">Upload
                                Video</button>
                            <button type="submit"
                                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-3xl text-sm px-5 py-2.5 text-center">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>