<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pembayaran</title>
	</head>

	<body>
		<div layout:fragment="content" sec:authorize="isAuthenticated()">
			<div th:replace="components/adminpage/dashboard/card :: card"></div>
			<div
				th:replace="components/adminpage/payment-method/tabel-pembayaran :: tabel-pembayaran"></div>
		</div>

		<div layout:fragment="script">
			<script src="/js/adminpage/payment.js"></script>
		</div>
	</body>
</html>
