<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/user}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>User Profile - Belajar</title>
	</head>
	<body>
		<section class="profile" layout:fragment="content">
			<div class="container card-body mt-3 mb-3 w-50">
				<div class="profile-header">
					<h1>Akun</h1>
				</div>
				<div class="profile-content">
					<nav class="profile-nav">
						<ul>
							<li class="active"><a th:href="@{/profile}">Profil Saya</a></li>
							<hr />
							<li>
								<a th:href="@{/change-password}">Ubah Kata Sandi</a>
							</li>
							<hr />
							<li>
								<form
									class="d-flex justify-content-center"
									th:action="@{/logout}"
									th:method="POST">
									<button class="btn btn-danger fw-bold" type="submit">
										Keluar
									</button>
								</form>
							</li>
							<hr />
						</ul>
					</nav>

					<div class="profile-form">
						<form>
							<div class="form-group fw-bold">
								<label for="name">Nama</label>
								<input type="text" id="name" maxlength="100" required />
							</div>
							<div class="form-group fw-bold">
								<label for="email">Email</label>
								<input type="email" id="email" required />
							</div>
							<div class="form-group fw-bold">
								<label for="phone">Nomor Telepon</label>
								<input type="text" id="phone" maxlength="13" required />
							</div>
							<div class="form-group fw-bold">
								<label for="country">Kota</label>
								<input type="text" id="city" />
							</div>
							<div class="form-group fw-bold">
								<label for="city">Negara</label>
								<input type="text" id="country" />
							</div>

							<div class="form-group fw-bold">
								<label for="username">Username</label>
								<input type="text" id="username" disabled />
							</div>
							<button type="button" class="save-button" id="update-profile">
								Simpan Profil Saya
							</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<div layout:fragment="script">
			<script src="/js/script.js"></script>
		</div>
	</body>
</html>
