<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Payment Success</title>

		<!-- Tailwind -->
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- Icon -->
		<link
			rel="shortcut icon"
			href="/img/online-course.png"
			type="image/x-icon" />
	</head>

	<body>
		<div class="flex justify-center w-full mt-7">
			<h1
				class="bg-green-500 py-3 w-2/4 text-white rounded-lg px-6 mb-6 font-semibold text-center">
				Terima Kasih Atas Pembayaran Transaksi
			</h1>
		</div>
		<div class="flex justify-center items-center">
			<div class="bg-white p-8 py-4 rounded-xl text-center max-w-md w-full">
				<h1 class="text-purple-600 text-3xl font-bold mb-6">Selamat!</h1>
				<img
					src="https://img.freepik.com/free-photo/bank-card-mobile-phone-online-payment_107791-16646.jpg?t=st=1719407461~exp=1719411061~hmac=c231e97a0c3c41b98125717ab09a9585072affea55d5edcd2be5800efa21fbe3&w=740"
					alt="Animated celebration"
					class="mx-auto mb-6 rounded-lg w-48 h-48 object-cover" />
				<h2 class="text-lg font-semibold mb-2">
					Transaksi Pembayaran Kelas Berbayar Berhasil!
				</h2>
				<p class="mb-6 text-gray-600 text-[14px] font-semibold">
					E-receipt Telah Dikirimkan Ke Email.
				</p>
				<div class="space-y-4">
					<a
						href="/my-courses"
						class="block px-4 py-1 font-semibold bg-purple-600 text-white rounded-2xl hover:bg-purple-700 transition duration-300">
						Mulai Belajar
					</a>
					<a
						href="/home"
						class="block font-semibold text-blue-600 hover:text-blue-700 transition duration-300">
						Kembali ke Beranda
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
