<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - Belajar</title>
    <link rel="stylesheet" href="/clientapp/src/main/resources/static/css/account-details.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">Belajar</div>
            <div class="search-bar">
                <input type="text" placeholder="Cari Kursus terbaik...">
                <button type="button">🔍</button>
            </div>
            <div class="login">
                <a href="#">Dashboard</a>
                <a href="#">🔒</a>
            </div>
            </div>
        </div>
    </header>

    <section class="profile">
        <div class="back-link-bg">
            <a href="#" class="back-link">← Kembali ke Beranda</a>
        </div>
        <div class="container">
            <div class="profile-header">
                <h1>Akun</h1>
            </div>
            <div class="profile-content">
                <nav class="profile-nav">
                    <ul>
                        <li><a href="/clientapp/src/main/resources/templates/pages/user/account-details.html">Profil Saya</a></li><hr>
                        <li class="active"><a href="/clientapp/src/main/resources/templates/pages/user/update-password.html">Ubah Password</a></li><hr>
                        <li><a href="#">Riwayat Pembayaran</a></li><hr>
                        <li><a href="#">Keluar</a></li><hr>
                    </ul>
                </nav>
                <div class="profile-form">
                    <form>
                        <div class="form-group">
                            <label for="name">Password Lama</label>
                            <input type="password" id="Password" value="John Doe">
                        </div>
                        <div class="form-group">
                            <label for="email">Password Baru</label>
                            <input type="password" id="new-password" value="johndoe@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="phone">Konfirmasi Password Baru</label>
                            <input type="password" id="confirm-new-password" value="+62 81212112121">
                        </div>
                        
                        <button type="submit" class="save-button">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
