<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/user}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>User Profile - Belajar</title>
	</head>
	<body>
		<section class="profile" layout:fragment="content">
			<div class="container card-body mt-3 mb-3 w-50">
				<div class="profile-header">
					<h1>Akun</h1>
				</div>
				<div class="profile-content">
					<nav class="profile-nav">
						<ul>
							<li>
								<a th:href="@{/profile}">Profil Saya</a>
							</li>
							<hr />
							<li class="active">
								<a th:href="@{/change-password}">Ubah Password</a>
							</li>
							<hr />
							<li>
								<form
									class="d-flex justify-content-center"
									th:action="@{/logout}"
									th:method="POST">
									<button class="btn btn-danger fw-bold" type="submit">
										Log out
									</button>
								</form>
							</li>
							<hr />
						</ul>
					</nav>

					<div class="profile-form">
						<form>
							<div class="form-group">
								<label for="current-password">Kata Sandi Lama</label>
								<input type="password" id="current-password" required />
							</div>

							<!-- Show/Hide Password -->
							<div>
								<input
									name="current"
									class="mt-auto mb-3"
									type="checkbox"
									onclick="showCurrentPassword()" />
								Show Password
							</div>

							<div class="form-group">
								<label for="new-password">Kata Sandi Baru</label>
								<input type="password" id="new-password" required />
							</div>

							<!-- Show/Hide Password -->
							<div>
								<input
									name="current"
									class="mt-auto mb-3"
									type="checkbox"
									onclick="showNewPassword()" />
								Show Password
							</div>

							<div class="form-group">
								<label for="confirm-new-password"
									>Konfirmasi Kata Sandi Baru</label
								>
								<input type="password" id="confirm-new-password" required />
							</div>

							<!-- Show/Hide Password -->
							<div>
								<input
									name="current"
									class="mt-auto mb-3"
									type="checkbox"
									onclick="showRepeatNewPassword()" />
								Show Password
							</div>

							<button type="button" class="save-button" id="update-password">
								Simpan
							</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<div layout:fragment="script">
			<script src="/js/script.js"></script>
		</div>
	</body>
</html>
